<html>

<head>
    <title>TxtScribe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
    <p>
    <h1 align="center">TxtScribe</h1>
    </p>
    <div class="container" style="padding: 100px;">
        <div class="row">
            <h2>Select an image to upload</h2>
            <h4>TxtScribe can automatically convert any picture or even handwritten notes to text files. It even fixes
                any spelling or grammatical mistakes you might have.</h4>
            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            </p>
            <form method="post" action="/" enctype="multipart/form-data">
                <dl>
                    <p>
                        <input type="file" name="file" class="form-control" autocomplete="off" required>
                    </p>
                </dl>
                <p>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </p>
            </form>
            {% if filename %}
            <div>
                <img src="{{ url_for('display_image', filename=filename) }}" style="width: 40vw;">
            </div>
            {% endif %}
            <br><br>
            <div>
                <form action="/Process/" method="post">
                    <button name="processBtn" type="submit" class="btn btn-primary">Process Image</button>
                </form>

                <form action="/RegenSummary/" method="post">
                    <button name="regenBtn" type="submit" class="btn btn-primary">Regenerate Summary</button>
                </form>
            </div>
            The Processed Text is: {{ processed_text }}
            <br><br>
            Summary is: {{ summary_text }}
        </div>
    </div>
</body>

</html>